
/* Fontgroessen fuer grosse und kleine Displays */
@media only screen and (max-width: 991px) {
    p, ul, ol, .post-preview > .post-meta {
	font-size: 16px;
    }
}

@media only screen and (min-width: 990px) {
    .shariff .whatsapp {
	display: none;
    }

    .intro-header .site-heading h1 {
	font-size: 50px;
    }

    .caption {
	font-size:16px;
    }
}

.intro-header {
    margin-bottom: 10px;
}

.shariff-button {
    font-size: 14px;
}

/* Verweis auf Fussnoten und Groesse Fussnoten */
.footnotes {
    font-size: 14px;
}

.footnote-ref a{
    background-color: #C0C0C0;
    min-width: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

/* Zitate besser in Text einpassen */
blockquote ol, blockquote p, blockquote ul {
    margin-top: 0px;
}

.blockquote-footer {
    padding: 0px;
    margin-top: -10px;
}

/* Unterstrichen Links in Listen, aber nicht im Header */
li a {
    text-decoration: underline;
}

.navbar-nav li a {
    text-decoration: none;
}
