@media only screen and (max-width: 991px) {
    p, ul {
	font-size: 14px;
    }

    .post-preview > .post-meta {
	font-size: 14px;
    }

    .shariff .mail {
	display: none;
    }
}

@media only screen and (min-width: 990px) {
    .shariff .whatsapp {
	display: none;
    }
}

.shariff-button {
    font-size: 14px;
}

.footnotes {
    font-size: 14px;
}
