@media only screen and (max-width: 991px) {
    p, ul, ol, .post-preview > .post-meta {
	font-size: 16px;
    }

    .shariff .mail {
	display: none;
    }
}

@media only screen and (min-width: 990px) {
    .shariff .whatsapp {
	display: none;
    }

    .intro-header .site-heading h1 {
	font-size: 50px;
    }
}

.shariff-button {
    font-size: 14px;
}

.footnotes {
    font-size: 14px;
}

.footnote-ref a{
    background-color: #C0C0C0;
    min-width: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}
